.spinner {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.spinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}